* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #070b12;
    color: #ffffff;
    line-height: 1.6;
}


/* =========================
   NAVIGATION BAR
========================= */

.navbar {
    width: 100%;
    padding: 20px 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(7, 11, 18, 0.97);
    border-bottom: 1px solid #18202d;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 24px;
    font-weight: 800;
    letter-spacing: -1px;
}

.logo span {
    color: #00ff88;
}

.navbar nav {
    display: flex;
    gap: 30px;
}

.navbar nav a {
    color: #b7c0ce;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    transition: 0.3s;
}

.navbar nav a:hover {
    color: #00ff88;
}

.menu-btn {
    display: none;
    background: none;
    color: white;
    border: none;
    font-size: 25px;
    cursor: pointer;
}


/* =========================
   HERO SECTION
========================= */

.hero {
    min-height: 650px;
    display: flex;
    align-items: center;
    padding: 80px 7%;

    background:
        radial-gradient(
            circle at 80% 30%,
            rgba(0, 255, 136, 0.18),
            transparent 35%
        ),

        radial-gradient(
            circle at 20% 80%,
            rgba(0, 150, 255, 0.12),
            transparent 30%
        ),

        #070b12;
}

.hero-content {
    max-width: 750px;
}

.small-title {
    color: #00ff88;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 12px;
}

.hero h1 {
    font-size: clamp(50px, 8vw, 90px);
    line-height: 1;
    margin-bottom: 25px;
}

.hero h1 span {
    color: #00ff88;
}

.hero-text {
    max-width: 600px;
    color: #aab4c3;
    font-size: 18px;
    margin-bottom: 35px;
}

.hero-buttons {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.primary-btn,
.secondary-btn {
    padding: 14px 25px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.primary-btn {
    background: #00ff88;
    color: #03120a;
}

.primary-btn:hover {
    background: #00d976;
    transform: translateY(-2px);
}

.secondary-btn {
    border: 1px solid #344052;
    color: white;
}

.secondary-btn
